* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto' sans-serif;
    font-size: 62.5%;
}

.home {
    background-image: url(/assets/mountains-universe-1.png);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    width: 489px;
    height: 42px;
    margin-top: 4rem;
    margin-left: 7.2rem;
}

nav img {
    width: 49.73px;
}

nav a {
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
    opacity: 1;
}

.text {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;

    margin: 24%;
}

h1 {
    margin-bottom: 2.4rem;
    font-size: 4.8rem;
}

button {
    padding: 1.2rem 3.2rem;
    background: none;
    border-color: white;
    color: white;
    border-radius: 5px;
    line-height: 2.4rem;
}

button:hover {
    background-color: white;
    color: #02799D;
    font-weight: bold;
    line-height: 2.4rem;
}